<%= render :partial=>'devise/sessions/signin_form' %>
<%= render :partial=>'devise/registrations/signup_form' %>

<%#*<h2>Sign up</h2>%>

<%#= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%#= devise_error_messages! %>

<%#*<p><%= f.label :email %><%#<br />%>
<%#= f.text_field :email %><%#</p>%>

<%#*<p><%= f.label :password %><%#<br />%>
<%#= f.password_field :password %><%#</p>%>

<%#*<p><%= f.label :password_confirmation %><%#<br />%>
<%#= f.password_field :password_confirmation %><%#</p>%>

<%#*<p><%= f.submit "Sign up" %><%#</p>%>
<%# end %>
<%#= render :partial => "devise/shared/links" %>

<%#*<div id="sign-up-form" class="form" >%>
<%#*<form action="/users" accept-charset="UTF-8" method="post" >%>
<%#*<div class="fields-box">%>
<%#*<div class="title">First Name :</div>%>
<%#*<div class="lable"><input name="user[first_name]" id="user_first_name" type="text" required /></div>%>
<%#*</div>%>
<%#*<div class="fields-box">%>
<%#*<div class="title">Last Name :</div>%>
<%#*<div class="lable"><input name="user[last_name]" id="user_last_name" type="text" required /></div>%>
<%#*</div>%>
<%#*<div class="fields-box">%>
<%#*<div class="title">Your Email :</div>%>
<%#*<div class="lable"><input name="user[email]" id="user_email" type="text" required /></div>%>
<%#*</div>%>
<%#*<div class="fields-box">%>
<%#*<div class="title">Password :</div>%>
<%#*<div class="lable"><input name="user[password]" type="password" required id="user_password" /></div>%>
<%#*</div>%>
<%#*<div class="fields-box">%>
<%#*<div class="title">Re-enter Password :</div>%>
<%#*<div class="lable"><input name="user[password_confirmation]" type="password" id="user_password_confirmation" required/></div>%>
<%#*</div>%>
<%#*<div class="fields-box">%>
<%#*<div class="title">&nbsp;</div>%>
<%#*<div class="lable"><input type="submit" value="Sign Up" /></div>%>
<%#*</div>%>
<%#*</form>%>
<%#*</div>%>